[submodule "lib/pico_audio_i2s_32b"]
	path = lib/pico_audio_i2s_32b
	url = https://github.com/elehobica/pico_audio_i2s_32b.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
